<app-divider>
    Placeholder
</app-divider>

<app-placeholder [lines]="10"></app-placeholder>

<app-divider>
    Segment
</app-divider>

<app-segment>
    <header>
    <i class="pdf file outline icon">
        No documents are listed for this customer
    </i>
</header>

<button class="ui primary button">
    Add Document
</button>
</app-segment>

<app-segment>
    <header>
    <i class="add icon">
        Add a Resource
    </i>
</header>

<button class="ui primary button">
    Click to Add
</button>
</app-segment>