<!-- <app-elements-home></app-elements-home>
<app-collections-home></app-collections-home> -->

<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="views" routerLinkActive="active" class="item">Views</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- If you put href, then the page will always reload, when you click on a link and we don't want that -->
<!-- Instead Angular gives us the possibility of using routerLink, which makes changes between links seemless -->

<!-- routerLinkActive allows you to highlight the link where you're currently at -->